.bg-img1 {
  background-color: #000;
  background-size: cover;
  background-image: url(anh1.jpg);
}
.bg-img2 {
  background-color: #000;
  background-size: cover;
  background-image: url(anh2.jpg);
}
.bg-img3 {
  background-color: #000;
  background-size: cover;
  background-image: url(anh3.jpg);
}
